@import url(http://fonts.googleapis.com/earlyaccess/droidsanstamil.css);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@impott url(http://openfontlibrary.org/face/neythal);


body {
    font-family: 'Neythal', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.posts {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.7em;
}

strong {
    color: #fff;
    padding: 5px 10px;
    background: #1d7126;
}

.yellow {
    color: #2a2727;
    padding: 5px 10px;
    background: #c1c719;
}

h2 {
    font-size: 42px;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    font-weight: bold;
}

h5 {
    font-size: 20px;
}
    

.header {
    margin-bottom: 20px;
}

.title {
    color: #60c760;
}

.notice {
    font-size: 18px;
    color: #aeaeae;
}

.gray {
    background: #e6e6e6;
    padding-bottom: 5px;
    padding-top: 5px;
}

a {
    color: #54ba57;
}

a:hover {
    color: #20892a;
}


.glyphicon.glyphicon-star {
    color: #1cd640;
}

.letter li {
    list-style: square;
}

.archive li {
    list-style: none;
}

.ptb {
    padding-bottom: 30px;
    padding-top: 30px;
}