<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">


    </head>
    <body>
            <div class="center-block">
          <div class="container">
          <div class="header">
            <div class="row">
            <div class="col-md-4 col-md-offset-2">
            <h2 class="title"><a href="/">நுட்பம் மடல்</a></h2>
            <a class="extra" href="/">முகப்பு</a>
            <a class="extra" href="/archive.html">  |  பெட்டகம்</a>
            
            </div>
            <div class="col-md-5">
            <h5>பிரதி செய்வாய் தோறும் மடல் வெளியாகிறது.</h5>
            <form action="https://tinyletter.com/puthunutpam" method="post">
    <fieldset>
      <input placeholder="உங்கள் மின்னஞ்சல் முகவரி தருக" type="text" name="email" id="tlemail" />
      <button class="btn btn-success" type="submit" value="1" name="embed">Subscribe</button>
      <input type="hidden" value="1" name="embed"/><br/>
      <span class="notice">நாம் உங்களுக்கு எந்த எரிதமும் அனுப்பமாட்டோம். உறுதியாக.</small>
    </fieldset>
  </form>
            </div>
            </div>
          </div>
          </div>
          <div class="container">
          <div class="row posts">
          <div class="col-md-8 col-md-offset-2">
              
          {{ content }}

            </div>
            </div>
            
          </div>
            <hr />
          <div class="container">
            <div class="row">
            <div class="col-md-4 col-md-offset-2">
             <p>
                நுட்பம் மடல்<br />
                தாரிக் அஸீஸ்<br />
            2013-2014 - முழுப்பதிப்புரிமை உடையது.
              </p>
            </div>
            <div class="col-md-4 col-md-offset-2">
            <p>
                <a href="https://youtube.com/puthunutpam">Puthunutpam YouTube Channel</a><br />
                <a href="https://twitter.com/puthunutpam">@puthunutpam</a><br />
                <a href="http://puthunutpam.com">puthunutpam.com</a><br />
              </p>
            </div>
            </div>
          </div>
          </div>
    </body>
</html>
