---
layout: default
---
<h3>{{ page.title }}</h3>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="posts letter">
{{ content }}



<small>உங்கள் நண்பர்களுக்கும் மடல் பற்றிச் சொல்லுங்கள். மடல் பற்றி ட்விட்டரில் கீச்சிடலாம். </small>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="puthunutpam" data-related="puthunutpam" data-hashtags="nutpam">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

<div class="row">
<div class="col-6 md"><h5>பிரதி செவ்வாய் தோறும் மடல் வெளியாகிறது.</h5>
</div>
<div class="col-6 md">
    <form action="https://tinyletter.com/puthunutpam" method="post">
    <fieldset>
      <input placeholder="மின்னஞ்சல் முகவரி தருக" type="text" name="email" id="tlemail" />
      <button class="btn btn-success" type="submit" value="1" name="embed">Subscribe</button>
      <input type="hidden" value="1" name="embed"/><br/>
      <span class="notice">நாம் உங்களுக்கு எந்த <abbr title="எரிச்சலூட்டக்கூடிய கடிதங்கள்">எரிதமும்</abbr> அனுப்பமாட்டோம். உறுதியாக.</small>
    </fieldset>
  </form>
</div>            
</div>