---
layout: default
---
<h3>{{ page.title }}</h3>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="posts letter">
{{ content }}



<small>உங்கள் நண்பர்களுக்கும் மடல் பற்றிச் சொல்லுங்கள். மடல் பற்றி ட்விட்டரில் கீச்சிடலாம். </small>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="puthunutpam" data-related="puthunutpam" data-hashtags="nutpam">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
